# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Listing popular data science languages
- Listing common libraries in data science used
- Lister IDEs commonly used
- Doing some basic arithmetic operations

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

### Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Skicitlearn
3. Pandas

Data Science Tools|
------------------|
JupyterNotebook|
RStudio|
VScode|

###  Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#this will convert 200 minutes to hours by diving by 60
time_in_hours= (200/60)
print("200 mins in hours is",time_in_hours,"hours")

200 mins in hours is 3.3333333333333335 hours

## ***Author:***
Darsh Agarwal